{{- if not .Values.certManager.enabled }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
  name: epinio-registry-tls
  namespace: {{ .Release.Namespace }}
stringData:
  ca.crt: {{ .Values.certManager.registry.ca | quote }}
  tls.key: {{ .Values.certManager.registry.key | quote }}
  tls.crt: {{ .Values.certManager.registry.cert | quote }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
  name: epinio-tls
  namespace: {{ .Release.Namespace }}
stringData:
  ca.crt: {{ .Values.certManager.epinio.ca | quote }}
  tls.key: {{ .Values.certManager.epinio.key | quote }}
  tls.crt: {{ .Values.certManager.epinio.cert | quote }}
---
{{- if .Values.global.dex.enabled }}
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
  name: dex-tls
  namespace: {{ .Release.Namespace }}
stringData:
  ca.crt:  {{ .Values.certManager.dex.ca   | default .Values.certManager.epinio.ca   | quote }}
  tls.key: {{ .Values.certManager.dex.key  | default .Values.certManager.epinio.key  | quote }}
  tls.crt: {{ .Values.certManager.dex.cert | default .Values.certManager.epinio.cert | quote }}
{{- end }}
{{- if and .Values.seaweedfs.enabled .Values.seaweedfs.tls.enabled .Values.seaweedfs.global.enableSecurity }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
  name: {{ default "seaweedfs-tls" .Values.seaweedfs.tls.certSecret }}
  namespace: {{ .Release.Namespace }}
stringData:
  ca.crt: {{ .Values.certManager.s3.ca | quote }}
  tls.key: {{ .Values.certManager.s3.key | quote }}
  tls.crt: {{ .Values.certManager.s3.cert | quote }}
{{- else if .Values.s3gw.enabled }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
  name: s3gw-cluster-ip-tls
  namespace: {{ .Release.Namespace }}
stringData:
  ca.crt: {{ .Values.certManager.s3.ca | quote }}
  tls.key: {{ .Values.certManager.s3.key | quote }}
  tls.crt: {{ .Values.certManager.s3.cert | quote }}
{{- end }}
{{- end }}
