{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: epinio
  namespace: {{ .Release.Namespace }}
spec:
  dnsNames:
  - epinio.{{ .Values.global.domain }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ default .Values.global.tlsIssuer .Values.global.customTlsIssuer | quote }}
  secretName: epinio-tls

{{- if .Values.seaweedfs.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: seaweedfs-cert
  namespace: {{ .Release.Namespace }}
spec:
  dnsNames:
  - {{ include "epinio.seaweedfs-hostname" . }}
  issuerRef:
    kind: ClusterIssuer
    # We always trust the CA for SeaweedFS so we can always use selfsigned certs
    # Because Letsencrypt doesn't create certs for non public domains
    name: epinio-ca
  secretName: seaweedfs-tls
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: ""  # Empty = all namespaces
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: ""  # Auto-create mirrors in all namespaces
{{- end }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: epinio-ca
  namespace: {{ .Values.certManagerNamespace }}
spec:
  commonName: epinio-ca
  isCA: true
  issuerRef:
    kind: ClusterIssuer
    name: selfsigned-issuer
  privateKey:
    algorithm: ECDSA
    size: 256
  secretName: epinio-ca-root
{{- end }}
