{{- if (and .Values.seaweedfs.enabled .Values.s3gw.enabled) }}
{{- fail "use either seaweedfs or s3gw" }}
{{- end }}
{{- if (empty .Values.global.domain) }}
{{- fail "domain cannot be empty" }}
{{- end }}
