{{- if (and .Values.seaweedfs.enabled .Values.s3gw.enabled) }}
{{- fail "use either seaweedfs or s3gw" }}
{{- end }}
{{- if (and .Values.seaweedfs.enabled (not .Values.seaweedfs.s3.enabled)) }}
{{- fail "seaweedfs.s3.enabled must be true when seaweedfs is enabled" }}
{{- end }}
{{- if (and .Values.seaweedfs.enabled .Values.seaweedfs.tls.enabled (not .Values.seaweedfs.global.enableSecurity)) }}
{{- fail "seaweedfs.tls.enabled=true requires seaweedfs.global.enableSecurity=true" }}
{{- end }}
{{- if (and .Values.seaweedfs.enabled .Values.seaweedfs.existingSecret .Values.seaweedfs.s3.existingConfigSecret (ne .Values.seaweedfs.existingSecret .Values.seaweedfs.s3.existingConfigSecret)) }}
{{- fail "seaweedfs.existingSecret and seaweedfs.s3.existingConfigSecret must have the same value" }}
{{- end }}
{{- if (empty .Values.global.domain) }}
{{- fail "domain cannot be empty" }}
{{- end }}
