{{- if index .Values "api" "rbac" "enabled" | default true }}
# RBAC role ConfigMaps - application_manager, application_developer, view_only, system_manager
# End users can assign these roles via Secret annotation: epinio.io/roles: "application_manager"
# See: https://docs.epinio.io/explanations/configuration-management-internals#rbac
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: epinio-role-application-manager
  namespace: {{ .Release.Namespace }}
  labels:
    epinio.io/role: "true"
data:
  id: application_manager
  name: Application Manager
  default: "false"
  actions: |
    namespace_read
    namespace_write
    app_read
    app_logs
    app_create
    app_update
    app_scale
    app_update_env
    app_update_configs
    app_update_routes
    app_update_settings
    app_update_chart
    app_stage
    app_deploy
    app_export
    app_delete
    app_restart
    app_exec
    app_portforward
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: epinio-role-application-developer
  namespace: {{ .Release.Namespace }}
  labels:
    epinio.io/role: "true"
data:
  id: application_developer
  name: Application Developer
  default: "false"
  actions: |
    namespace_read
    namespace_write
    app_read
    app_logs
    app_create
    app_update
    app_scale
    app_update_env
    app_update_configs
    app_update_routes
    app_update_settings
    app_update_chart
    app_stage
    app_deploy
    app_export
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: epinio-role-view-only
  namespace: {{ .Release.Namespace }}
  labels:
    epinio.io/role: "true"
data:
  id: view_only
  name: View Only
  default: "false"
  actions: |
    namespace_read
    app_read
    app_logs
    configuration_read
    service_read
    gitconfig_read
    export_registries_read
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: epinio-role-system-manager
  namespace: {{ .Release.Namespace }}
  labels:
    epinio.io/role: "true"
data:
  id: system_manager
  name: System Manager
  default: "false"
  actions: |
    namespace_read
    namespace_write
    app_read
    app_logs
    app_create
    app_update
    app_scale
    app_update_env
    app_update_configs
    app_update_routes
    app_update_settings
    app_update_chart
    app_stage
    app_deploy
    app_export
    app_restart
    app_exec
    app_portforward
    configuration_read
    service_read
    gitconfig_read
    export_registries_read
{{- end }}
