---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  annotations:
    epinio.io/registry-namespace: {{ .Values.global.registryNamespace }}
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: ""  # Empty = all namespaces
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: ""  # Auto-create mirrors in all namespaces
  name: registry-creds
  namespace: {{ .Release.Namespace }}
stringData:
  .dockerconfigjson: |-
    {
      "auths": {
        "{{ template "epinio.registry-url" . }}": {
          "auth":"{{ printf "%s:%s" .Values.global.registryUsername .Values.global.registryPassword | b64enc }}",
          "username":"{{ .Values.global.registryUsername }}",
          "password":"{{ .Values.global.registryPassword }}"
        } {{- if .Values.containerregistry.enabled }} ,
        "127.0.0.1:30500": {
          "auth":"{{ printf "%s:%s" .Values.global.registryUsername .Values.global.registryPassword | b64enc }}",
          "username":"{{ .Values.global.registryUsername }}",
          "password":"{{ .Values.global.registryPassword }}"
        }
        {{- end -}}
      }
    }
