annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/prerelease: "false"
apiVersion: v2
appVersion: v1.13.8
dependencies:
- condition: global.dex.enabled
  name: dex
  repository: https://charts.dexidp.io
  tags:
  - dex
  version: 0.24.0
- condition: minio.enabled, global.minio.enabled
  name: minio
  repository: https://charts.min.io/
  tags:
  - minio
  version: 5.4.0
- condition: reflector.enabled, global.reflector.enabled
  name: reflector
  repository: oci://ghcr.io/emberstack/helm-charts
  tags:
  - reflector
  version: 10.0.8
- condition: s3gw.enabled, global.s3gw.enabled
  name: s3gw
  repository: https://s3gw-tech.github.io/s3gw-charts
  tags:
  - s3gw
  version: 0.23.1
description: Epinio deploys Kubernetes applications directly from source code in one step.
home: https://github.com/epinio/epinio
icon: https://raw.githubusercontent.com/epinio/helm-charts/main/assets/epinio.png
keywords:
- epinio
- paas
maintainers:
- email: epinio@krum.io
  name: Krumware
- email: epinio@epinio.io
  name: SUSE
name: epinio
sources:
- https://github.com/epinio/epinio
version: 1.14.0
