apiVersion: v2
appVersion: v0.6.1
dependencies:
- condition: minio.enabled, global.minio.enabled
  name: minio
  repository: https://charts.min.io/
  tags:
  - minio
  version: 3.5.2
- condition: kubed.enabled, global.kubed.enabled
  name: kubed
  repository: https://charts.appscode.com/stable/
  tags:
  - kubed
  version: 0.13.1
- condition: epinio-ui.enabled
  name: epinio-ui
  repository: https://epinio.github.io/helm-charts
  tags:
  - epinio-ui
  version: 0.1.1
description: The official way to install Epinio
home: https://github.com/epinio/epinio
icon: https://raw.githubusercontent.com/epinio/helm-charts/main/assets/epinio.png
keywords:
- epinio
- paas
maintainers:
- email: team@epinio.io
  name: SUSE
name: epinio
sources:
- https://github.com/epinio/epinio
version: 0.7.2
annotations:
  artifacthub.io/license: Apache-2.0
