---
name: "Updatecli: Dependency Management"

on:
  workflow_dispatch:
  release:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run every hour
    - cron: '0 * * * *'
  repository_dispatch:
    types: [epinio-release, epinio-ui-release]

permissions:
  contents: write
  pull-requests: write

jobs:
  updatecli:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Needed due to this bug https://github.com/updatecli/updatecli/issues/1098
      # Updatecli which relies on go-git fails when used with git submodule using ssh protocol
      # so it's a temporary workaround
      - name: Checkout Epinio
        uses: actions/checkout@v6
        with:
          repository: 'epinio/epinio'
          path: epinio
          fetch-depth: 0

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@v2

      - name: Apply
        run: "updatecli apply --config ./updatecli/updatecli.d --values ./updatecli/values.yaml --experimental"
        env:
          UPDATECLI_GITHUB_ACTOR: ${{ github.actor }}
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
